<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Facelink</a>
    </div>
    <form class="navbar-form">
        <div class="form-group navbar-right">
            <button type="submit" class="btn btn-info navbar-right"><span class="glyphicon glyphicon-search"></span> Rechercher</button>
          <input type="text" class="form-control" placeholder="Rechercher" size="40">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </form>
    <ul class="nav navbar-nav navbar-left">
      <li><a href="/">Accueil</a></li>
      <li><a href="/users">Liste des Utilisateurs</a></li>
    </ul>
  </div>
</nav>