<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Facelink</a>
      </div>
      <form class="navbar-form">
          <div class="form-group navbar-right">
              <button type="submit" class="btn btn-default navbar-right">Rechercher</button>
            <input type="text" class="form-control" placeholder="Rechercher" size="35">
          </div>
        </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="">Accueil</a></li>
        <li><a href="#">Liste des Utilisateurs</a></li>
      </ul>
    </div>
  </nav>
<div class="jumbotron">
    <div class="container">
      <div class="hero-text">
        <div class="row">
          <div class="col-md-8">
            <h1>Welcome to Basketball Championship Manager</h1>
            <h3>Create and manage your own basketball championship</h3>
          </div>
          <div class="col-md-4">
            <form class="hero-form">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-success">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>