<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
      <a class="navbar-brand" href="/">Facelink</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <form class="navbar-form">
        <div class="form-group navbar-right">
          <button type="submit" class="btn btn-info navbar-right"><span class="glyphicon glyphicon-search"></span> Rechercher</button>
          <input type="text" class="form-control" placeholder="Rechercher" size="40"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </form>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/">Accueil</a></li>
        <li><a href="/TousLesUtilisateurs">Liste des Utilisateurs</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <div class="hero-text">
      <div class="row">
        <div class="col-md-7">
          <h1 class="custom-h1">Facelink <span class="glyphicon glyphicon-user"></span></h1>
          <h3 class="custom-h1">Soyez proche de vos amis.</h3>
          <br /><br /><a href="#" class="btn btn-info btn-lg btn-block btn-huge"><span class="glyphicon glyphicon-new-window"></span> Rejoignez-nous</a>
        </div>
        <div class="col-md-5">
          <form class="hero-form">
            <div class="form-group">
              <label for="exampleInputEmail1">Adresse Email : </label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Adresse Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mot de Passe : </label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Mot de Passe">
            </div>
            <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-log-in"></span> Se connecter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>