<navbar></navbar>
<router-outlet></router-outlet>
<div class="container container-custom text-center"></div>
<div id="footer">
    <h1 class="custom-h1 text-center">Copyright © Bejan Qotbi 30 av. J-C - 2050</h1>
    <div class="sicon text-center">

        <div class="icon-circle"><br>
            <a href="#" class="ifacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="itwittter" title="Twitter"><i class="fa fa-twitter"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="igoogle" title="Google+"><i class="fa fa-google-plus"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="iLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
        </div>

    </div>
</div>