body{
    background:url('../src/app/resources/bg_paysage.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    height: 80px;
    opacity: 0.9;
    border: none;
}
.navbar-default {
    background-color: #373B5B;
}


.navbar-nav li a {
    padding:0 30px;
    line-height:80px;
}
.navbar-nav li:active {
    background-color: #202336;
}
.navbar-nav li:hover {
    background-color: #202336;
}
.navbar-header a {
    padding:0 100px;
    line-height:80px;    
}
.navbar-text {
    padding:0 30px;
    line-height:80px;
    margin: 0;
}
.rechercher-profil {
    padding: 30px;
}
.navbar-text:hover {
    background-color: #373B5B;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:#fff;
    opacity: 0.8;
}
.row:hover {
    background-color:#fff;
}
@media(max-width:750px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}