body{
    background:url('../src/app/resources/bg_paysage.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

.btn {
	border-radius: 0px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFF;  /*Sets the text hover color on navbar*/
    }
    
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
     a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #428bca;
    }
    
      .navbar-default {
        background-color: #428bca;
        border-color: #FFFFFF;
        margin:0;
        border-radius: 0px;
        border: none;
    }
    
      .dropdown-menu > li > a:hover,
       .dropdown-menu > li > a:focus {
        color: #262626;
       text-decoration: none;
      background-color: #66CCFF;  /*change color of links in drop down here*/
       }
    
     .nav > li > a:hover,
     .nav > li > a:focus {
        text-decoration: none;
        background-color: silver; /*Change rollover cell color here*/
      }
    
    
      .navbar-default .navbar-nav > li > a {
       color: white; /*Change active text color here*/
        }

.panel > .panel-heading, .panel > .panel-footer {
    background-image: none;
    background-color: red;
    color: white;

}

.jumbotron h1 {
    font-weight:bold;
  }
  
  .jumbotron .hero-text {
    padding: 48px 0;
  }
  
  .hero-form {
    padding: 48px;
    border-radius: 3px;
    background-color: #f8f8f8;
    border: 2px #ccc solid;
  }